@import './scss/button.scss';
@import './scss/input.scss';
@import './routes/characterList/styles.scss';
@import './routes/createCharacter/styles.scss';
@import './routes/login/styles.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  margin-top: 2rem
}

.container {
  max-width: 60rem;
  width: 100%;
}

#create-button, #login-button, #logout-button, #back-button{
  @include Button;

  &:hover {
    @include ButtonHover;
  }
}

#logout-button, #back-button {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}




